html, body {
    height: 100%;
    padding: 2px;
}

#map {
    margin-top: 4px;
    height: 50%;
    width: 100%;
}

#selectDestinationBtn{
    margin-top: 4px;
    width: 100%;
    display: block;
}

#nextRouteBtn {
    margin-top: 2px;
    width: 40%;
}

#chooseRouteBtn {
    margin-top: 2px;
    width: 58%;
}

#selectedRoute {
    margin-top: 2px;
}